body{
	background-color: black;
}


#mainlogo{
	height: 270px;
	padding-left: 15%;
	

}

#mainlogosm{
	height: 200px;
	padding-left: 10%;


}


.jumbotron{
	background-color: black;
}



.maintext{
	color:#B7A86A;
	font-family: 'Poppins', sans-serif;
	text-align: center;

}

#main{
	margin-top: 70px;
}

.welcome{
	color:#B7A86A;
	font-family: 'Cookie', sans-serif;
	text-align: center;
	font-size: 4em;

}

#startAdventure{
	margin-left: 45%;
	margin-top: 30px;
	font-family: 'Mukta Vaani',sans-serif;

}

#headerlogo{
	height:150px;
	margin: 20px 0 50px 30px;

}

#headertext{
	color:#B7A86A;
	font-family: 'Cookie', sans-serif;
	text-align: center;
	font-size: 20px;


}