body{
	background-color: black;
}


#mainlogo{
	height: 310px;
	padding-left: 15%;
	

}

#mainlogosm{
	height: 200px;
	padding-left: 10%;


}


.jumbotron{
	background-color: black;
}

#foodpic{
	height:450px;
}


.maintext{
	color:#B7A86A;
	font-family: 'Poppins', sans-serif;
	text-align: center;

}

#main{
	margin-top: 100px;
}

.welcome{
	color:#B7A86A;
	font-family: 'Cookie', sans-serif;
	text-align: center;

}